.Rproj.user
.Rhistory
.RData
.Ruserdata
project.Rcheck/
project*.tar.gz
project*.tgz
shdackr.Rcheck/
shdackr*.tar.gz
shdackr*.tgz

# You may want to version rsconnect/ for real projects (this is just a template
# project) -- see the RStudio Connect: User Guide for details
rsconnect/
